[Desktop Entry]
Encoding=UTF-8
Name=Link to 1.17. Neural network models (supervised) — scikit-learn 0.19.1 documentation
Type=Link
URL=http://scikit-learn.org/stable/modules/neural_networks_supervised.html
Icon=text-html
