[Desktop Entry]
Encoding=UTF-8
Name=Link to A Beginner’s Guide to Neural Networks with Python and SciKit Learn 0.18!
Type=Link
URL=https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html
Icon=text-html
