[Desktop Entry]
Encoding=UTF-8
Name=Link to A Neural Network in 11 lines of Python (Part 1) - i am trask
Type=Link
URL=https://iamtrask.github.io/2015/07/12/basic-python-network/
Icon=text-html
