[Desktop Entry]
Encoding=UTF-8
Name=Link to Implementing a Neural Network from Scratch in Python – An Introduction – WildML
Type=Link
URL=http://www.wildml.com/2015/09/implementing-a-neural-network-from-scratch/
Icon=text-html
